%h1 Search Presidential Collections

%blockquote Based at the U.Va. Miller Center, Connecting Presidential Collections is an IMLS-funded beta project that provides one centralized place to search for presidential materials.

%h2 Featured Items
#featured
	= link_to image_tag("featured/sixthFloor.jpg", :alt => "Sixth Floor Museum", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/sfm_3512"
	= link_to image_tag("featured/roosevelt.jpg", :alt => "Roosevelt", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/trc_o36257"
	= link_to image_tag("featured/ohp.jpg", :alt => "Miller Center Oral History Program", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/poh_86"
	= link_to image_tag("featured/hayes.jpg", :alt => "Hayes", :class => "featured-item", :alt => ""), "http://presidentialcollections.org/catalog/rbh_2000_7_2"


%h2 Meet our Partners
#featured
	= link_to image_tag("logo-wilsonCtr.gif", :alt => "Sixth Floor Museum" :class => "featured-item", :width => "145" :alt => ""), "/partners.html#wwp"
	= link_to image_tag("logo-sixthFloor.gif", :alt => "Sixth Floor Museum" :class => "featured-item", :width => "100" :alt => ""), "/partners.html#sfm"
	= link_to image_tag("logo-rooseveltCtr.gif", :alt => "Sixth Floor Museum" :class => "featured-item", :width => "135" :alt => ""), "/partners.html#trc"
	= link_to image_tag("logo-massHist.gif", :alt => "Sixth Floor Museum" :class => "featured-item", :width => "135" :alt => ""), "/partners.html#mhs"
	%span(class="more")
		=link_to("See the full list", "/partners")

%h3
	= link_to("Terms of Use", "/about#terms")
%p
	The partner organizations determine the rights for digital objects on this site. Please go to the partners’ websites for more information.
	%span{:class => "more"}
		=link_to("Read more", "about#terms")

%h3
	= link_to("Citation Styles", "/about#citationstyles")
%p
	We provide a selection of citation styles for use when referencing items from the collection.
	%span(class="more")
		=link_to("Read more", "about#citationstyles")

%h3
	= link_to("API", "/about#api")
%p
	Information in this database is free and open source. Use our API to refer to the data on your own site. (To come.)